@import '../base.scss';

.nav {
    $pad: 20px;

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1;

    padding-top: $pad;
    padding-bottom: $pad;

    background-color: $secondary;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    &.nav-title {
        font-size: 50px;

        .nav-title-txt {
            margin: 0;
        }
    }
}
