---

import SiteLayout from '../layouts/siteLayout.astro';

---

<SiteLayout title="404" includemargin="true">
    <div class="container">
        <h1 class="title">404</h1>
        <p>Seems you ran into a page that doesn't exist!</p>
        <a href="/">Go to Home</a>
    </div>
</SiteLayout>