---

import SiteLayout from "../layouts/siteLayout.astro";
import ProjectContainer from '../components/ProjectContainer.vue';

---

<SiteLayout title="Projects" includemargin="true">
    <div class="container">
        <h1 class="title scroll-anim-reveal">Projects</h1>
        <ProjectContainer client:load />
    </div>
</SiteLayout>